html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 0;
}

button {
    font-size: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 1rem 12.5%;
}

.header-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0;
    padding: 0;
    color: #E5E7EB;
}

.hero-section {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: #1F2937;
    padding: 4rem 12.5% 8rem 12.5%;
}

.hero-section button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.hero-text,
.hero-image {
    flex: 1;
}

.hero-text {
    padding-right: 2rem;
}

.hero-image {
    background-color: #6c757d;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-main-text {
    color: #F9FAF8;
    font-size: 4rem;
    font-weight: 900;
}

.hero-secondary-text {
    color: #E5E7EB;
    font-size: 1.2rem;
    margin: 1rem 0;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 0.5rem 12.5%;
    font-size: 0.875rem;
    color: #E5E7EB;
}